data/
models/

mlflow.db
mlflow.db-journal
mlruns/
artifacts/
notebooks/test_runs.ipynb
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

venv/
.venv/
hcdr/

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log